
<% if(posts.length > 0) {%>
    <% for (var i=0; i< posts.length; i++)  { %>
    <div class="card my-3">

            <div class="card-header p-bottom-0">
                <div class="float-left">
                    <!-- posts.image_profile -->
                    <img class="rounded-circle mr-2" src="https://picsum.photos/g/40/40" alt="img">
                    <a href="/home/users/<%= posts[i].user_id %>">
                        <p class="mb-0"><%= posts[i].name %></p>
                    </a>
                </div>
                <p class="float-right my-auto"><small><%= posts[i].date%></small></p>
            </div>
        <div class="card-body">
            <div id="input-group">
                <textarea disabled class="form-control" id="content" name="content" rows="5" autofocus><%= posts[i].content%></textarea>
                <%if(posts[i].user_id === locals.user.id) { %>
                <button class="btn btn-sm btn-outline-success ml-auto m-1" id="replyBtn"
                        data-toggle="modal" data-target="#replyModal" data-post="<%= posts[i].id%>">Responder</button>
                <div class="btn-group float-right mr-auto">
                    <button id="postRemovalBtn" class="btn btn-sm btn-outline-danger m-1"
                            data-toggle="modal"
                            data-target="#postRemovalModal"
                            data-post="<%= posts[i].id %>"><i class="fas fa-trash-alt m-1"></i></button>
                    <button class="btn btn-sm btn-outline-warning m-custom-1110" onclick="editPostEnable(event)">Editar<i class="fas fa-edit m-1"></i></button>
                </div>
                <% } else { %>
                <button class="btn btn-sm btn-block btn-outline-success ml-auto m-1">Responder</button>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
<% } else { %>
<div class="alert alert-warning">¡Vaya! Parece que no tienes ningún post a la vista, ¿Por qué no dices algo?</div>
<% } %>

<div id="replyModal" class="modal fade bd-example-modal-sm" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Respuesta</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body m-auto">
                <div class="form-group">
                    <textarea class="form-control" id="replyContent" rows="5" autofocus></textarea>
                </div>
                <button class="btn btn-default btn-success float-right" onclick="postReply()">Enviar</button>
            </div>
        </div>
    </div>
</div>
<div id="postRemovalModal" class="modal fade bd-example-modal-sm" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Estás segur@?</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body m-auto">
                <button class="btn btn-danger" onclick="removePost()">Confirmar</button>
                <button class="btn btn-success" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="postResponseModal" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Respuesta</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body m-auto">
                <textarea class="form-control" id="contentRes" name="contentRes" rows="5" autofocus></textarea>
                <button class="btn btn-outline-success btn-block m-auto" onclick="resPost()">
                    Comenta!<i class="fas fa-comment m-1"></i>
                </button>
                <button class="btn btn-success" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>