<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include ../partials/resources.ejs %>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <style>
        .toggle.ios, .toggle-on.ios, .toggle-off.ios {
            border-radius: 20px;
        }

        .toggle.ios .toggle-handle {
            border-radius: 20px;
        }

        .toggle-handle {
            background-color: white
        }
    </style>
</head>
<body>
<% include ../partials/navbar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 id="my-profile">Perfil</h4>
            <hr>

            <form id="form-profile">
                <div class="mb-2 text-center">
                    <i class="fas fa-user fa-7x"></i>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Nombre</label>
                        <input type="text" disabled class="form-control" id="inputName" name="inputName"
                               placeholder="Nombre"
                               value="<%= profile.name %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSurname">Apellidos</label>
                        <input type="text" disabled class="form-control" id="inputSurname" name="inputSurname"
                               placeholder="Apellidos"
                               value="<%= profile.surname %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" disabled class="form-control" id="inputEmail" name="inputEmail"
                           placeholder="Correo electrónico"
                           value="<%= profile.email %>">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUni">Universidad</label>
                        <input type="text" disabled class="form-control" id="inputUni" placeholder="Universidad"
                               value="<%= profile.university %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDegree">Grado</label>
                        <input type="text" disabled id="inputDegree" class="form-control" placeholder="Grado"
                               value="<%= profile.degree %>">
                    </div>
                </div>

                <% if(profile.email === locals.user.email) { %>
                    <input id="toggle" type="checkbox" data-toggle="toggle" data-style="ios" onchange="updateUser('<%= locals.user.id%>')">
                <% } %>
            </form>
        </div>

        <div class="col-5">
            <h4>Actividad</h4>
            <hr>
            <% include ../partials/activity-feed.ejs %>
        </div>

        <div class="col-4">
            <% if(profile.email === locals.user.email) { %>
            <% include ../partials/menu-friends-requests.ejs %>
            <% include ../partials/menu-friends.ejs %>
            <% include ../partials/menu-groups.ejs %>
            <% } else { %>
            <% include ../partials/menu-friends.ejs %>
            <% } %>
        </div>
    </div>
</div>

<script src="/javascripts/scripts.js"></script>
<script>
    setUpProfileToggle();
</script>
</body>
</html>
