<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include ../partials/resources.ejs %>
</head>
<body>
<% include ../partials/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-3">
            <% include ../partials/menu-user.ejs %>
        </div>

        <div class="col-6">
            <div class="text-center">
                <h3>Resultados de la búsqueda: <%= search %></h3>
                <hr>
            </div>

            <div class="card p-2">
                <% for (var i = 0; i < users.length; i++) { %>
                <div class="py-2">
                    <div class="card p-1">
                        <div class="row ">
                            <div class="col-3">
                                <img src="https://picsum.photos/g/200/200" class="w-100 embed-responsive">
                            </div>

                            <div class="col-6">
                                <div class="card-block customAlignment-center-child">
                                    <h4 class="card-title"><%= users[i].name + " " + users[i].surname %></h4>
                                    <p class="card-text"><%= users[i].university %></p>
                                    <p class="card-text"><%= users[i].degree %></p>
                                </div>
                            </div>

                            <div class="col-3 my-auto">
                                <div class="btn-group-vertical pl-5">
                                    <%include ../../public/javascripts/scripts.ejs%>
                                    <%if(isFriend(friends, users[i].email) == -1) { %>
                                        <button class="btn btn-primary" onclick="addFriend('<%= users[i].email%>')"><i class="fas fa-user-plus"></i></button>
                                    <% } else if(isFriend(friends, users[i].email) == 0) {%>
                                        <button class="btn btn-danger" onclick="undoFriendReq('<%= users[i].email%>')"><i class="fas fa-times"></i></button>
                                    <% } %>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#messageModal" onclick="passData(<%= JSON.stringify(users[i]) + ", '" + locals.user.email + "'"%>)"><i class="fas fa-envelope"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="col-3">
            <% include ../partials/menu-group.ejs %>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="messageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enviar mensaje a: <p id="receiverEmailTitle"></p></h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="senderEmail">De (yo):</label>
                    <input type="email" class="form-control"
                           id="senderEmail" name="senderEmail" readonly/>
                </div>
                 <div class="form-group">
                        <label for="receiverEmail">Enviar a:</label>
                        <input type="email" class="form-control"
                               id="receiverEmail" name="receiverEmail" readonly/>
                 </div>
                    <div class="form-group">
                        <label for="messageContent">Mensaje</label>
                        <textarea class="form-control" id="messageContent" rows="9" autofocus required></textarea>
                    </div>
                    <button class="btn btn-default btn-success float-right" onclick="sendEmail()">Enviar!</button>
            </div>
        </div>

    </div>
</div>
<script src="/javascripts/scripts.js"></script>
</body>
</html>
