<!DOCTYPE html>
<html>
<head>
    <title>Versia</title>
    <% include ../partials/resources.ejs %>
</head>
<body>
<% include ../partials/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-3">
            <% include ../partials/menu-user.ejs %>
        </div>

        <div class="col-6">
            <div class="text-center">
                <h3>Resultados de la búsqueda: <%= somethingWeLookFor %></h3>
                <hr>
            </div>

            <div class="card p-2">
                <% for (var i = 0; i < users.length; i++) { %>
                <div class="py-2">
                    <div class="card p-1">
                        <div class="row ">
                            <div class="col-3">
                                <img src="https://picsum.photos/g/200/200" class="w-100 embed-responsive">
                            </div>

                            <div class="col-6">
                                <div class="card-block customAlignment-center-child">
                                    <h4 class="card-title"><%= users[i].name + " " + users[i].surname %></h4>
                                    <p class="card-text"><%= users[i].university %></p>
                                    <p class="card-text"><%= users[i].degree %></p>
                                </div>
                            </div>

                            <div class="col-3 my-auto">
                                <div class="btn-group-vertical pl-5">
                                    <button class="btn btn-primary" onclick="addFriend('<%= users[i].email%>')"><i class="fas fa-user-plus"></i></button>
                                    <a href="/" class="btn btn-success"><i class="fas fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="col-3">
            <% include ../partials/menu-group.ejs %>
        </div>
    </div>
</div>
<script src="/javascripts/scripts.js"></script>
</body>
</html>
